DATABASE_URL="postgresql://postgres.ccjowlprpebvhubjnifw:[YOUR-PASSWORD]@aws-1-ap-south-1.pooler.supabase.com:6543/postgres?pgbouncer=true"
JWT_SECRET="super-secret-doctor-assignment-key-2026"
GEMINI_API_KEY="" # Enter your Gemini Flash API key here
UPLOAD_DIR="uploads"
USE_GEMINI="true"
USE_LOCAL_OCR="true"
